.mobileCta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131921;
}

.cta {
  display: none;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  margin: 0 0.5rem;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 4px 0 0 4px;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #febd69;
  border-radius: 0 4px 4px 0;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.loginSignup {
  display: none;
}

.header__option {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.header__option__orders,
.header__option.location {
  display: none;
}

.header__optionLineOne {
  font-size: 12px;
}

.header__optionLineTwo {
  font-size: 14px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  margin-top: 5px;
}

.header__optionBasket span {
  color: #f08804;
  font-size: 16px;
  padding: 0 10px 0 5px;
}

a {
  text-decoration: none;
}

.mobileLocation {
  margin: 0;
  background-color: #232f3e;
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 768px) {
  .cta {
    display: block;
  }

  .mobileCta {
    display: none;
  }

  .header__search {
    margin: 0;
  }

  .header__option__orders,
  .header__option.location {
    display: flex;
  }

  .loginSignup {
    display: block;
  }

  .mobileLocation {
    display: none;
  }
}
