.product {
  display: grid;
  justify-content: start;
  align-items: center;
  width: 100%;
  /* max-height: 500px; */
  background-color: white;
  z-index: 1;
  padding-bottom: 2rem;
}

.product > img {
  height: 10rem;
  width: 91%;
  object-fit: contain;
  margin-bottom: 15px;
  padding: 1rem;
}

.product__price {
  margin-top: 0rem;
  font-size: 1.75rem;
}

.product__price small {
  vertical-align: super;
  font-size: 0.75rem;
}

.product__price .cents {
  vertical-align: super;
  font-size: 0.75rem;
  margin-left: 0.1rem;
  font-weight: 500;
}

.product__info {
  text-align: left;
  margin-bottom: 15px;
  padding: 0 1rem;
}

.product__rating {
  color: #ffa41c;
  display: flex;
  margin-top: 0.5rem;
}

.product__buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.product__addToCart {
  background: #ffd814;
  border: 1px solid #d5d9d9;
  border-radius: 20px;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  margin-top: 10px;
  color: #0f1111;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.75rem;
  width: 75%;
}

.product__addToCart:hover {
  background: #ffa41c;
  border: 1px solid #d5d9d9;
  border-radius: 20px;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  margin-top: 10px;
  color: #0f1111;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.75rem;
  width: 75%;
}

.product__buyNow {
  background: #817b72;
  border: 1px solid #d5d9d9;
  border-radius: 20px;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  margin-top: 10px;
  color: #0f1111;
  cursor: pointer;
  width: 204px;
  height: 32px;
  font-size: 13px;
}

@media screen and (min-width: 768px) {
  .product {
    width: 45%;
  }
}

@media screen and (min-width: 1024px) {
  .product {
    width: 30%;
  }

  .product > img {
    height: 10rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    padding: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .product {
    width: 25%;
  }
}

@media screen and (min-width: 1400px) {
  .product {
    width: 23%;
  }
}
